# Build outputs
CS2BoxESP/Release/
CS2BoxESP/output/
output/
*.obj
*.pdb
*.ipdb
*.iobj
*.dll
*.lib
*.exp
*.log
*.recipe

# Reference code
asphyxia-cs2-master/

# Visual Studio
.vs/
*.user
*.suo
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# OS
Thumbs.db
Desktop.ini
.DS_Store
